<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>
                Acceso
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Correo: </label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text"
                                class="form-control"
                                fullWidth
                                placeholder="Ingrese el correo"
                        >
                    </div>
                </div>
                <div class="row">

                </div>
                <br>
            </nb-card-body>
        </nb-card>
    </div>
</div>
