<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header *ngIf="creationMode">
        CREAR ROL
      </nb-card-header>
      <nb-card-header *ngIf="!creationMode">
        EDITAR ROL
      </nb-card-header>
      <nb-card-body>


        <div class="row">
          <div class="col-lg-3">
            <label>Nombre</label>
          </div>
          <div class="col-lg-9">
            <input type="text" class="form-control" [(ngModel)]="rol.name"/>
            <p *ngIf="sendingAttempt && rol.name==''">REQUERIDO</p>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-3">
            <label>Descripcion</label>
          </div>
          <div class="col-lg-9">
            <input type="text" class="form-control" [(ngModel)]="rol.description"/>
            <p *ngIf="sendingAttempt && rol.description==''">REQUERIDO</p>
          </div>
        </div>


        <br/>
        <div class="row">
          <button *ngIf="creationMode" class="btn btn-primary btn-block" (click)="create()">
            Crear
          </button>
          <button *ngIf="!creationMode" class="btn btn-primary btn-block" (click)="edit()">
            Editar
          </button>

        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
